<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level (%c{1}:%M:%L) %m%n%throwable"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.mongodb.driver.protocol" level="DEBUG"/>
        <Logger name="{{APP_PACKAGE}}" level="DEBUG"/>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
